<div class="row">
  <div class="large-10 large-offset-1 columns">
  <h1>All Crews</h1>
  <p><%= link_to 'Add a New Crew', new_admin_crews_path %></p>
  <table>
     <thead>
      <tr>
        <th width="200">Crew</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @crews.each do |crew| %>
      <tr>
        <td><%= crew.crew %></td>
        <td><%= link_to 'Edit', edit_crew_path(crew) %></td>
        <td>Delete</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

