<div class="row">
  <div class="large-10 large-offset-1 columns">
  <h1>All Issues</h1>
  <table>
     <thead>
      <tr>
        <th width="200">Issue</th>
        <th width="150">Visit</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
      <tr>
        <td><%= image_tag issue.front_cover.url(:thumb)%></td>
        <td><%=link_to issue.title, issue_path(issue) %></td>
        <td><%= link_to 'Edit', edit_admin_issue_path(issue) %></td>
        <td><%= link_to 'Delete', admin_issue_path(issue), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
