<h1><%= issue.magazine%>: <%= issue.title%></h1>

<ul class="small-block-grid-2">
  <li><%= image_tag issue.front_cover.url(:medium)%></li>
  <li><%= image_tag issue.back_cover.url(:medium)%></li>
</ul>
