<section id="welcome_top">
  <div class="row">
    <div class="large-4 columns" id="welcome-box">
      <p><strong>Graff Mags</strong> is an organization established to preserve the history of Graffiti magazines</p>

      <p>Its purpose is to celebrate this art and culture through an innovative library and an ongoing series of collaborative projects with artists from the magazines.</p>

      <p>Drawing from a collection that began in 1993, <strong>Graff Mags</strong> continues to build a comprehensive library of international graffiti magazines with a specific concentration on the 1980's and 1990's.</p>

      <a href='#' class="button tiny">READ MORE</a>
    </div>
    <div class="large-8 columns" id="blank"></div>
  </div>
</section>


