<section id="welcome_top">
  <div class="row" id="welcome">
      <div class="medium-4 medium-offset-1 columns" id="shoutout">
        <p><strong>Graff Mags</strong> is an organization established to preserve the history of Graffiti magazines.</p>

        <p>Its purpose is to celebrate this art and culture through an innovative library and an ongoing series of collaborative projects with artists from the magazines.</p>

        <p>Drawing from a collection that began in 1993, <strong>Graff Mags</strong> continues to build a comprehensive library of international graffiti magazines with a specific concentration on the 1980's and 1990's.</p>

        <a href='#' class="button tiny">READ MORE</a>
      </div>
      <div class="medium-7 columns"></div>
    </div>
  <div class="row" id="featured_issues">
    <h2>Issues</h2>
  <ul class="medium-block-grid-6">
    <% @issues.each do |issue| %>
      <li>
        <%= link_to(image_tag(issue.featured_image.url(:medium)), '#', data: {:'reveal-id' => "issue-#{issue.id}"})%>
        <div id="issue-<%= issue.id %>" class="reveal-modal large" data-reveal>
          <%= render 'show', issue: issue %>
          <a class="close-reveal-modal">&#215;</a>
        </div>
     </li>
    <% end %>
  </ul>
  </div>
</section>
