<div class="large-10 large-offset-1 columns">
  <div class="row">
    <h2>Edit Language</h2>
  </div>
  <div class="row">
    <div class="small-5 columns" id="form">
     <%= simple_form_for @language do |f| %>
     <%= f.input :language %>
     <%= f.submit 'Submit', class: "button" %>
     <% end %>
   </div>
 </div>
</div>
