<div class="large-10 large-offset-1 columns">
  <h2><%= @format.format %></h2>
  <%if current_user.role == 'admin' %>
    <p><%= link_to 'Edit this format', edit_format_path(@format) %></p>
    <p><%= link_to 'See all formats', formats_path %></p>
  <% end %>
  <ul class="medium-block-grid-2">
    <% @format.issues.each do |issue| %>
      <li>
        <%= link_to(image_tag(issue.front_cover.url), issue_path(issue)) %>
      </li>
    <% end %>
  </ul>
</div>
