<div class="row">
  <div class="large-10 large-offset-1 columns">
  <h1>All Sizes</h1>
  <p><%= link_to 'Add a New Size', new_size_path %></p>
  <table>
     <thead>
      <tr>
        <th width="200">Size</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @sizes.each do |size| %>
      <tr>
        <td><%= link_to size.size, size_path(size) %></td>
        <td><%= link_to 'Edit', edit_size_path(size) %></td>
        <td>Delete</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

