<div class="large-10 large-offset-1 columns">
  <div class="row">
    <h2>Edit Media</h2>
  </div>
  <div class="row">
    <div class="small-5 columns" id="form">
     <%= simple_form_for [:admin, @medium] do |f| %>
     <%= f.input :medium %>
     <%= f.submit 'Submit', class: "button" %>
     <% end %>
   </div>
 </div>
</div>
