<div class="row">
  <div class="large-10 large-offset-1 columns">
  <h1>All Bindings</h1>
  <p><%= link_to 'Add a New Binding', new_stitching_path %></p>
  <table>
     <thead>
      <tr>
        <th width="200">Binding</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @stitchings.each do |stitching| %>
      <tr>
        <td><%= link_to stitching.binding, stitching_path(stitching) %></td>
        <td><%= link_to 'Edit', edit_stitching_path(stitching) %></td>
        <td>Delete</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

