<section id="welcome_top">
  <div class="row" id="welcome">
      <div class="medium-4 medium-offset-1 columns" id="shoutout">
        <h1>404 Not Found</h1>
        <p>Sorry, but we can't find the page you're looking for.</p>

        <p>Please use the navigation above to browse <strong>Graff Mags</strong>.</p>

        <p>Drawing from a collection that began in 1993, <strong>Graff Mags</strong> continues to build a comprehensive library of international graffiti magazines with a specific concentration on the 1980's and 1990's.</p>
      </div>
      <div class="medium-7 columns"></div>
    </div>
</section>
