<div class="row">
  <div class="large-10 large-offset-1 columns">
  <h1>All Crews</h1>
  <p><%= link_to 'Add a New Crew', new_admin_crew_path %></p>
  <table>
     <thead>
      <tr>
        <th width="200">Crew</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @crews.each do |crew| %>
      <tr>
        <td><%= link_to crew.crew, admin_crew_path(crew) %></td>
        <td><%= link_to 'Edit', edit_admin_crew_path(crew) %></td>
        <td><%= link_to 'Delete', admin_crew_path(crew), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

