<div class="row">
  <div class="large-10 large-offset-1 columns">
  <h1>All Formats</h1>
  <p><%= link_to 'Add a New Format', new_admin_format_path %></p>
  <table>
     <thead>
      <tr>
        <th width="200">Format</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @formats.each do |format| %>
      <tr>
        <td><%= link_to format.format, admin_format_path(format) %></td>
        <td><%= link_to 'Edit', edit_admin_format_path(format) %></td>
        <td><%= link_to 'Delete', admin_format_path(format), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

