<% if user_signed_in? %>
  <li class="name"><em><%= current_user.email%></em></li>
  <li>
    <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
  </li>
  <% else %>
  <li>
    <%= link_to('Sign in', '#', data: {:'reveal-id' => "sign-in"})%>
  </li>
<% end %>

<div id="sign-in" class="reveal-modal small" data-reveal>
  <%= render "users/sessions/new", resource: User.new %>
  <a class="close-reveal-modal" data-reveal>&#215;</a>
</div>
