<%# navigation styled for Zurb Foundation 5 %>
<div data-magellan-expedition="fixed" class="sticky">
  <nav class="top-bar" data-topbar>
     <div class="top-bar-section">
      <ul>
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
    <ul class="title-area">
      <li><%= link_to(root_path) do%>
          <%= image_tag "LogoSized.png"%>
         <% end %></li>
        <li data-magellan-arrival="library"><a href="#library"><%= image_tag "Library.png"%></a></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
  </nav>
</div>

