<% if user_signed_in? %>
  <li class="name">You are signed in as <em><%= current_user.email%></em></li>
  <li>
    <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
  </li>
  <% if current_user.is_admin? %>
    <li><%= link_to 'Admin Dashboard', admin_issues_path %></li>
  <% end %>
  <% else %>
  <li>
    <%= link_to('Sign in', new_user_session_path)  %>
  </li>
<% end %>
